body{
    background-color:aquamarine
 
 }
 .main-container{
    margin:10px 0px 0px 40px;
    font-weight: bolder;  
 }
 table{
    font-size: small;
    width: min-content;
 }
 .gender{
    display: inline-block;
 
 }